In [ ]:
#this is a daily NoteBook

In [ ]:
2+1

In [ ]:
a = 1
b = 2

In [ ]:
print(a + b)

In [ ]:
2*3

In [ ]:
3-1

In [ ]:
# interger division
5 // 2

In [ ]:
# floating division
5/3

In [ ]:
Interger 
Floating

In [ ]:
# modulus

4 % 3

In [ ]:
4 % 2

In [ ]:
10 ** 4

In [ ]:
# variable

a = 10

In [ ]:
True False None if else while ......

In [ ]:
_firsta_Variable238 = 1

In [ ]:
_firsta_Variable238

In [ ]:
# string
# concationation

a = "tiger "
b = "is a national animal"
c = a+b

In [ ]:
print(c)

In [ ]:
x = '200'  
y = '100' # string

In [ ]:
int(x)+int(y)

In [ ]:
int(x+y)

In [ ]:
print(x)

In [ ]:
print(y)

In [ ]:
a = 100
b = 'is my'
print(str(a) + b)

In [ ]:
print(a,b,a,a,a,a,a, q)

In [ ]:
v = 'KEYBOARD is very essential' # starts 0

In [ ]:
print(len(v))

In [ ]:
# indexing
v[2]

In [ ]:
v = '07-NOV-2020'

len(v)

In [ ]:
v[10]

In [ ]:
v[0:0] # start at 0 end at 4, len=5

In [ ]:
v[3:6]

In [ ]:
v[::2]

In [ ]:
#slicing v[start:stop:step]

In [ ]:
a = 'z'
b = 'y'


print(a)
print(b, end=' ')
print(a)

# string =  + *

In [ ]:
print(a,b,a,b,  end='*')
print(a,b)

In [ ]:
x = 'elePHANt'

In [ ]:
y = x.upper()

In [ ]:
y

In [ ]:
y = x.lower()

In [ ]:
y

In [ ]:
y = x.title()

In [ ]:
y

In [ ]:
y = x.capitalize()

In [ ]:
y

In [ ]:
# string formatting


a = 'red'
b = 'black'

n = 3


# c = '%s is better than %s' %('blue',b)

# d = '%4.0f is a number'%n

# e = 'my fav colors are {v} {b}'.format(v='violet', b ='brown')

f = f'Colors are {a} {b} {n}'

print(f)

In [ ]:
c

In [ ]:
x = 'abc'
x = 10

print(x)

In [ ]:
print(x)

In [ ]:
x = '%s is the input value'%input()

In [ ]:
print(x)

In [ ]:
x = int(input('Please enter a number: '))

In [ ]:
x

In [ ]:
num = 23.45678
num1 = 34.999

# print('%10.3f is a number'%num)



# print("My 10 character, four decimal number is:{0:10.4f}".format(num, num1))




print(f"My 10 character, four decimal number is:{num:{10}.{3}}")

In [ ]:
# List or Array

l1 = [1, 2, 3] # integers

l2 = ['a', 'b'] # string

l3 = [1, 'a', 'b']  # int + string

In [ ]:
len(l1)

In [ ]:
l3[1]

In [ ]:
print(l2)

In [ ]:
l4[2:4]

In [ ]:
l4[:5]

In [ ]:
a = '123'

In [ ]:
b = '456'

In [ ]:
a+b

In [ ]:
l1 = [5]*10

In [ ]:
l1

In [ ]:
l4 = [1,2, 3, 4, 5,6]

In [ ]:
l4.append(9) # l.append(value)
l4.append(11)

In [ ]:
l4

In [ ]:
l4.insert(2, 10)  # l.insert(index_position, value)

In [ ]:
l4

In [ ]:
l4 = [1, 2, 3]

l5 = [4, 5, 6]

l4.append(l5)

In [ ]:
l4 # nested list

In [ ]:
l4[3][1]

In [ ]:
l = [ [1,2,3], [4,5,6], [7,8,9] ]

In [ ]:
l[1].insert(2, 10)

In [ ]:
l

In [ ]:
x = l.pop() # pop will remove end element by default and will return that element l.pop(index_position)

In [ ]:
l

In [ ]:
x

In [ ]:
x = l.pop()
x

In [ ]:
l

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8]

l[1]

l[2]

In [ ]:
min(l)

In [ ]:
# dictionary

In [ ]:
d = {}

In [ ]:
d = {'lion': 1, 'dog': 2, }  # d = {key: value, key: value .............}

In [ ]:
d

In [ ]:
d['goat'] = 3

In [ ]:
d

In [ ]:
c = {}

In [ ]:
c['goat'] = 1

In [ ]:
c

In [ ]:
c['cat'] = 1

In [ ]:
c

In [ ]:
c['dog'] = l4

In [ ]:
c

In [ ]:
c['goat'] = c['cat']

In [ ]:
c

In [ ]:
d = {'apple': c['goat']}

In [ ]:
d = {'goat': 1, 'cat': 'goat' }
d['goat'] = d['goat'] - 9
d['goat'] -= 9

In [ ]:
d

In [ ]:
d['goat'] = d['goat'] + 1

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
x = 1


x += 1
x -= 1

x *= 3  x = x * 3

In [ ]:
a = 10
b = 5
c = 10


if a == b :
    
    print('a is equal to b')
    
elif True:
    
    print('a is equal to c')
else:
    
    print('a is not equal to b and c ')

In [ ]:
[1, 2] == [1, 2, 3]

In [ ]:
a != b

In [ ]:
for i in [3, 4, 6]:
    print(i**2)

In [ ]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]


for j in l1:
    print(j**3)

In [ ]:
l2 = [2,2,2,2,2,2]

for k in l2:
    print(k)

In [ ]:
for i in range(10):
    print(i)

In [ ]:
inp = 2

for i in range(1, 11):
    print(i*2)

In [ ]:
for i in range(1, 11, 2):  # range(start, stop, step)
    print(i)

In [ ]:
for letter in 'This is a string.':
    print(letter)

In [ ]:
for '''for loop variable''' in '''iterative things''':
    # exceution

In [ ]:
d = {'lion': 1, 'goat': 2, 'tiger': 3}

In [ ]:
for i in d:
    print(i)

In [ ]:
for i in d:
    print(d[i])

In [ ]:
for i in d.keys():
    print(i)

In [ ]:
for i in d.values():
    print(i)

In [ ]:
for i, j in d.items():
    print(i, j)

In [ ]:
ls = [5,6,7,8,9,10,11,12]


# make value in even index postion to + 1


for i in range(len(ls)): # i = 0 > 7
    
    
    if i%2 == 0:
        ls[i] = ls[i] + 1

In [ ]:
ls

In [ ]:
for j in ls:
    print(j)

In [ ]:
# range(10)
# 0 -> 9

#range(8)
#

In [ ]:



# while <some condition> :
    # indent everything under while

In [ ]:
ls = [5,6,7,8,9,10,11,12]

start = 0

while start < (len(ls) + 1):
    print(start)
    start = start + 1

In [ ]:
for i in range(8):
    print(i, 'is a number')
    i = 0

In [ ]:
x = 0

while x < 10:
    print(x)
    x = x + 1
    if x == 6:
        break

In [ ]:
i = 0



while i < 10:
    
    print('#')
    i = i + 1
    if i == 6:
        break
    j = 0
    while j < 10:
        print("*", end=' ')
        j += 1
        if j == 3:
            break
    break

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
    else:
        print('continuing...')
        continue
    #logics

In [ ]:
###
#*#
###

In [ ]:

i = 0

while i <= 2:
    
    j = 0
    while j <= 2:
        if i == 1 and j == 1:
            print('*', end=' ')
        else:
            print('#', end=' ')
        j += 1
    print()
    i +=1

In [ ]:
# list ls = [1, 2, 3, 'xyz', [2, 3] ] -> ls[3]
# dict d = {'red': 1, 'black': 2 } -> d['red']
# tuples  t1 = (1, 2, 3)
# set

In [ ]:
t1 = (1, 2, 3, 2, 2)

In [ ]:
t1.index(3)

In [ ]:
t1[1] = 5

In [ ]:
len(t1)

In [ ]:
len(t1) = 10

In [ ]:
x,y = 10, 11 # tuple unpacking

In [ ]:
x

In [ ]:
y

In [ ]:
#sets  -> only unique values

In [ ]:
s1.i

In [ ]:
s1.add(4)

In [ ]:
s1

In [ ]:
s3 = set()

In [ ]:
s3.add(18)

In [ ]:
s3.add(11)

In [ ]:
s3

In [ ]:
s3.add(11)

In [ ]:
s3

In [ ]:
ls = [1, 2, 3, 3, 3]

In [ ]:
set(ls)

In [ ]:
s1 = {1, 2, 3}

s2 = {2, 3, 4}

# hash sets
# hash maps -> dicts

In [ ]:
print( s1 | s2)

In [ ]:
list(s2)

In [ ]:
ls = [1, 2, 3, 1, 2, 3]

#make this list unique

list(set(ls))

In [ ]:
# make a list unique without using sets or any inbuilt functions
l1 = []

for i in ls:
    if i not in l1:
        l1.append(i)

In [ ]:
l1

In [ ]:
file1 = open(r'C:\Users\Shiva Ramnathan\Desktop\sample.txt', mode='w')
file1.write('This is the new content')
file1.close()

In [ ]:
file2 = open(r'C:\Users\Shiva Ramnathan\Desktop\sample.txt', 'r+')
file2.read()
file2.seek(0)

In [ ]:
file2.readlines()

In [ ]:
file2.write('This is third line')

In [ ]:
file2.seek(0)

In [ ]:
file2.read()

In [ ]:
file2.readline()

In [ ]:
file2.close()

In [ ]:
file3 = open(r'C:\Users\Shiva Ramnathan\Desktop\file3.txt', 'w+')

In [ ]:
file3.write('File3 line one')

In [ ]:
file3.write('File3 line two')

In [ ]:
file3.close()

In [ ]:
file4 = open(r'C:\Users\Shiva Ramnathan\Desktop\file3.txt', 'a+')

file4.write('\n THis is the appended line')

file4.close()

In [ ]:
file2 = open(r'C:\Users\Shiva Ramnathan\Desktop\sample.txt','r+')
file3 = open(r'C:\Users\Shiva Ramnathan\Desktop\file3.txt', 'w+')
for i in file2:
    file3.write(i)
file2.close()
file3.close()

In [ ]:
ls = list(range(10))
ls

In [ ]:
import random

In [ ]:
random.randint(1000, 2000)

In [ ]:
random.shuffle(ls)

In [ ]:
ls

In [ ]:

# input any integer
# output return true if it is a even number else false

In [ ]:
# define a function
# call the function

In [ ]:
def myfunction(num1, num2, num3):
    
    if num1 % 2 == 0:
        output = True
    else:
        output = False
        
    return output

In [ ]:
myfunction(8, 7, 9)

In [ ]:
returned_value

In [ ]:

# number and strings
# variables
# data types : list set dict tuples
# file open close write read
# for loop while loop
# input random 

# print the middle element of the list
#

In [ ]:
# #### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even,
# but returns the greater if one or both numbers are odd
#     lesser_of_two_evens(2,4) --> 2
#     lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(num1, num2):
    
    if num1 % 2 == 0 and num2 % 2 == 0:
#         both of them are even


        return min(num1, num2)
        
    else:        
#         both of them are not even
        
        return max(num1, num2)

In [ ]:
lesser_of_two_evens(5,6)

In [ ]:
lesser_of_two_evens(num2=4,num1=8)

In [ ]:
#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
#     animal_crackers('Levelheaded Llama') --> True
#     animal_crackers('Crazy Kangaroo') --> False

In [ ]:
s = 'Levelheaded Llama'

In [ ]:
for i in range(len(s)):
    if s[i] == ' ':
        w1 = s[:i]
        w2 = s[i+1:]
        
print(w1)
print(w2)

In [ ]:

def animal_crackers(var):
    
    for i in range(len(var)):
        if var[i] == ' ':
            w1 = var[:i]
            w2 = var[i+1:]
            
    w1 = w1.capitalize()
    w2 = w2.capitalize()
            
    if w1[0] == w2[0]:
        return True
    else:
        return False

In [ ]:
animal_crackers('See snake')

In [ ]:

def animal_crackers(var):
    
    
    ls = var.split()
    
    w1 = ls[0]
    w2 = ls[1]
            
    w1 = w1.capitalize()
    w2 = w2.capitalize()
            
    return w1[0] == w2[0]

In [ ]:
s = 'Levelheaded Llama'

ls = s.split()

In [ ]:
print(ls)

In [ ]:
import pandas

In [ ]:
#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. 
# If not, return False

#     makes_twenty(20,10) --> True
#     makes_twenty(12,8) --> True
#    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(num1, num2):
    
    return num1 + num2 == 20 or num1 == 20 or num2 == 20

In [ ]:
makes_twenty(11,8)

In [ ]:
#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

#      spy_game([1,2,4,0,0,7,5]) --> True
#      spy_game([1,0,2,4,0,5,7]) --> True
#      spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(ls):
    
    pattern = [0, 0, 7]
    j = 0
    
    for i in range(len(ls)):
        
        if ls[i] == pattern[j]:
            j += 1
            
        if j == 3:
            return True

    
    return False

In [ ]:
spy_game([1,2,4,0,0,7,5])

In [ ]:
spy_game([1,0,2,4,0,5,7])

In [ ]:
spy_game([1,7,2,0,4,5,0])

In [ ]:
x = 25

def printer():
    
    return x

In [ ]:
printer()

In [ ]:
print(x)

In [ ]:
print(x1)

In [ ]:
x = 50

def func():
    global x
    print('This function is now using the global x!')
    print('Because of global x is: ', x)
    x = 2
    print('Ran func(), changed global x to', x)

print('Before calling func(), x is: ', x)
func()
print('Value of x (outside of func()) is: ', x)

In [ ]:

def func1():
    x = 1
    y = 2
    
    
    def func2():
        print(x, y)
        u = 3
        v = 4
        
    func2()
    print(u, v)

func1()

In [ ]:


def func(**kwargs):
    
    print(kwargs)

In [ ]:
func(a = 1, b = 2, c = 2)

In [ ]:
def func1(*args):
    print(args)
    
    
func1(3, 4, 78)

In [ ]:
root = input('enter the value  ')
j = int(root)**(1/2)
print('square root is',j )

In [ ]:
int(64**(1/2))

In [ ]:
#square

8 ** 2

In [ ]:
# square root

16 * 1/2

In [ ]:
from datetime import datetime

print(datetime(2000, 12, 12, 12, 12, 12, 342380))

In [ ]:
print(datetime(2020, 12, 23))

In [ ]:
d1 = datetime(2020, 12, 12, 0, 0 )
d2 = datetime(2020, 12, 12, 1, 15)

In [ ]:
d1

In [ ]:
d2 - d1

In [ ]:
from datetime import datetime

In [ ]:
inp = input('Enter Downtime in "YYYY-MM-DD HH:MM" ')

In [ ]:
inp

In [ ]:
d1 = datetime.strptime(inp, '%Y-%m-%d %H:%M')

In [ ]:
d1

In [ ]:
# ask the user for a valid number


flag = False


while flag == False:
    
    inp = input('Enter the Number : ')
    
#     flag = inp.isdigit()
    
    if inp.isdigit() == False:
        flag = False
    else:
        flag = True

In [ ]:
inp

In [ ]:
s = '01'

In [ ]:
s.isdigit()

In [ ]:
# error handling

In [ ]:
d1 = datetime.strptime('2020-20-20  12:12', '%Y-%m-%d %H:%M')
print('hello world')

In [ ]:
x = 20
z = 0

try:
    
    y = x // z
    
except ZeroDivisionError:
    
    print('z should be a non zero number')

    # do something about that error

In [ ]:
print(y)

In [ ]:
20//0

In [ ]:
# ask user to provide correct string format for date

from datetime import datetime

flag = False

while flag == False:


    try:

        inp = input('Enter Downtime in "YYYY-MM-DD HH:MM" ')


        d1 = datetime.strptime(inp,  '%Y-%m-%d %H:%M')

        flag = True


    except ValueError:

        print('Please enter the correct format')

        flag = False

Business Hours effected :  8
Non Business Hours effected :  16

5 7

In [18]:
working_hours_in_a_day_end

datetime.time(5, 0)

In [ ]:

# up time edge case

t2 = time(hour=d2.hour, minute=d2.minute)

if t1 < working_hours_in_a_day_start:
    pass

elif t1 > working_hours_in_a_day_start and t1 < working_hours_in_a_day_end:
    pass

elif t1 > working_hours_in_a_day_end:
    pass

In [19]:
working_hours_in_a_day_start

datetime.time(13, 0)

In [8]:
21 * 8

168

In [38]:

working_hours_in_a_day_start = timedelta(hours=9, minutes=0)
working_hours_in_a_day_end = timedelta(hours=5, minutes=0)

t1 = timedelta(hours=2, minutes=0)

In [44]:
t1.seconds

7200

In [42]:
25200//60//60

7

In [9]:
21 * 16 + 10 * 24

576

In [24]:
d2.hour

0

In [25]:
d1.hour

0

In [30]:
d3 = datetime(2020, 12, 13, 12, 35)

In [31]:
d3

datetime.datetime(2020, 12, 13, 12, 35)

In [32]:
d3.minute

35

In [33]:
d3.hour

12

In [ ]:



try:

    inp = input('Enter Downtime in "YYYY-MM-DD HH:MM" ')


    d1 = datetime.strptime(inp,  '%Y-%m-%d %H:%M')

    flag = True


except ValueError:

    print('Please enter the correct format')

    flag = False

print('try except is done')

In [ ]:
d1

In [26]:
from datetime import datetime
from datetime import timedelta

def get_date_input(t):

    while True:
        try:

            inp = input(f'Enter {t} Date and Time in this format "YYYY-MM-DD HH:MM" ')
            
            return datetime.strptime(inp,  '%Y-%m-%d %H:%M')

        except ValueError:

            print('Please enter the correct format')

In [27]:
# get uptime and downtime input from user
d1 = get_date_input('DownTime')
d2 = get_date_input('UpTime')


#validation
while d2 < d1:
    
    print('Uptime should be Greater than Downtime')
    d1 = get_date_input('DownTime')
    d2 = get_date_input('UpTime')
    


t1 = timedelta(hours=d1.hour, minutes=d1.minute)
t2 = timedelta(hours=d2.hour, minutes=d2.minute)

d1 = datetime(year=d1.year, month=d1.month, day=d1.day)
d2 = datetime(year=d2.year, month=d2.month, day=d2.day)

Enter DownTime Date and Time in this format "YYYY-MM-DD HH:MM" 2020-12-13 16:30
Enter UpTime Date and Time in this format "YYYY-MM-DD HH:MM" 2020-12-17 11:33

In [28]:
current_date = d1
business_hours = 0
non_business_hours = 0

# Hours effected without time consideration

while current_date <= d2:
    
    if current_date.weekday() == 5 or current_date.weekday() == 6:
        non_business_hours = non_business_hours + 24
    else:
        business_hours = business_hours + 8
        non_business_hours = non_business_hours + 16
        
    current_date = current_date + timedelta(days=1)

In [29]:
    
def working_hour(t):
    while True:
        work_start = input(f'Enter work {t} time in "HH:MM" ')
        try:
            d = datetime.strptime(work_start,"%H:%M")
            break
        except ValueError:
            print('Please Enter correct time in "HH:MM"')
            
    return d

start = working_hour('start')
end = working_hour('end')

working_hours_in_a_day_start = timedelta(hours=start.hour, minutes=start.minute)
working_hours_in_a_day_end = timedelta(hours=end.hour, minutes=end.minute)

Enter work start time in "HH:MM" 9:00
Enter work end time in "HH:MM" 17:00

In [30]:
# down time edge case: Time Consideration

if t1 < working_hours_in_a_day_start or d1.weekday() == 5 or d1.weekday() == 6:
    
    non_business_hours = non_business_hours - (t1.seconds/3600)

elif t1 > working_hours_in_a_day_start and t1 < working_hours_in_a_day_end:
    
    non_business_hours = non_business_hours - (working_hours_in_a_day_start.seconds/3600)
    business_hours = business_hours - ((t1 - working_hours_in_a_day_start).seconds/3600)

elif t1 > working_hours_in_a_day_end:
    
    non_business_hours = non_business_hours - ((working_hours_in_a_day_start + t1 - working_hours_in_a_day_end).seconds/3600)
    business_hours = business_hours - ((working_hours_in_a_day_end - working_hours_in_a_day_start).seconds/3600)

In [31]:
    
    
# up time edge case: Time Consideration

if t2 < working_hours_in_a_day_start:
    
    non_business_hours = non_business_hours - (working_hours_in_a_day_start-t2 + (timedelta(hours=24, minutes=0)-working_hours_in_a_day_end)).seconds//3600
    business_hours = business_hours-(working_hours_in_a_day_end - working_hours_in_a_day_start).seconds/3600

elif t2 > working_hours_in_a_day_start and t2 < working_hours_in_a_day_end:
    
    non_business_hours = non_business_hours - (timedelta(hours=24, minutes=0)-working_hours_in_a_day_end).seconds/3600        
    business_hours = business_hours - (working_hours_in_a_day_end-t2).seconds/3600

elif t2 > working_hours_in_a_day_end or d2.weekday() == 5 or d2.weekday() == 6:
    
    non_business_hours = non_business_hours - (timedelta(hours=24, minutes=0)-t2).seconds/3600

In [33]:
def convert_time(ts):
    
    hrs = int(ts)
    
    mns = int((ts - hrs) * 60)
    
    s = f'Hours: {hrs}, Minutes: {mns}'
    
    return s



print('Business Hours effected : ', convert_time(business_hours))
print(f'Non Business Hours effected : ', convert_time(non_business_hours))

Business Hours effected :  Hours: 26, Minutes: 33
Non Business Hours effected :  Hours: 64, Minutes: 30

In [ ]:
64.5 -> 64 hours 30 mins

In [19]:
64.5 * 60

3870.0

In [20]:
3870 % 60

30

In [22]:
int(64.7)

64

In [23]:
64.7*60 % 60

42.0

1.0

In [ ]:
balance = 10


def deposit(x):
    balance = balance + x
    return balance
    
def withdrawal(x):
    
    balance = balance - x
    return balance

In [2]:
class Animals:
    
    x = 10

In [3]:
a = Animals() # a is an object of class Animal

In [13]:
print(type(a))

<class '__main__.Animals'>

In [ ]:
b = Animals() # b is an object of class Animal

In [6]:
ls = []

In [7]:
type(ls)

list

In [10]:
print(type([]))

<class 'list'>

In [9]:
print(type(1))

<class 'int'>

In [14]:
class SampleClass:
    
    def __init__(self):
        pass
    
    def method1(self):
        pass
    
    def method2(self):
        pass

In [ ]:
Functions -> Methods
Variables -> Attributes or Paramters

In [15]:
def func12(a):
    return a + 2

In [16]:
func12(10)

12

In [ ]:
# if we want to pass any attributes to the class then we have to pass as an attributes to __init__ function

In [32]:
class Animal:
    
    
    # compulsary init method 
    def __init__(self, name, variant):
        self.name = name
        self.variant = variant
        
    def print_data(self):
        
        return  self.name + " is of " + self.variant+ " variant"

In [33]:
a = Animal(name='xyz', variant='abc')

In [34]:
a.print_data()

'xyz is of abc variant'

In [27]:
a.variant

'abc'

In [35]:
b = Animal(name='bcd', variant='uvw')

In [36]:
b.name

'bcd'

In [37]:
b.variant

'uvw'

In [38]:
b.print_data()

'bcd is of uvw variant'

In [39]:
ls = [1, 2, 3, 4] # ls is an object of class list

In [40]:
ls.append(5) # append is a built-in method of list object

In [41]:
ls

[1, 2, 3, 4, 5]

In [52]:
class BankUser:
    
    def __init__(self, acc_no, balance):
        self.acc_no = acc_no
        self.balance = balance
    
    def deposit(self, amount):
        self.balance = self.balance + amount
        self.print_data()
    
    def withdrawal(self, amount):
        
        if self.balance >= amount:
            self.balance = self.balance - amount
        else:
            print("Insufficient Amount")
        self.print_data()
            
    def print_data(self):
        
        print("Account Number: ", self.acc_no)
        print("Balance: ", self.balance)

In [53]:
a = BankUser(acc_no=135, balance=1000)

In [54]:
a.deposit(amount=500)

Account Number:  135
Balance:  1500

In [55]:
a.withdrawal(amount=600)

Account Number:  135
Balance:  900

In [ ]:
# Code Repeation

# Code Reuse becomes easy

# inheritance

# Abstraction